[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors"]
	path = bundle/vim-colors
	url = https://github.com/spf13/vim-colors.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/spf13/snipmate.vim.git
[submodule "bundle/snipmate-snippets/snippets"]
	path = bundle/snipmate-snippets/snippets
	url = git@github.com:erix/snipmate-snippets.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
